<html lang="en">
<body>
<div>

    <form method="post">
        <p><label>
            <select size="1" name="sourceCurrency">
                <option selected disabled>Выбрите из какой валюты</option>
                <option value="Австралийский доллар">Австралийский доллар</option>
                <option value="Азербайджанский манат">Азербайджанский манат</option>
                <option value="Армянских драмов">Армянских драмов</option>
                <option value="Фунт стерлингов Соединенного королевства">Фунт стерлингов Соединенного королевства</option>
                <option value="Белорусский рубль">Белорусский рубль</option>
                <option value="Болгарский лев">Болгарский лев</option>
                <option value="Бразильский реал">Бразильский реал</option>
                <option value="Венгерских форинтов">Венгерских форинтов</option>
                <option value="Гонконгских долларов">Гонконгских долларов</option>
                <option value="Датская крона">Датская крона</option>
                <option value="Доллар США">Доллар США</option>
                <option value="Евро">Евро</option>
                <option value="Казахстанских тенге">Казахстанских тенге</option>
                <option value="Канадский доллар">Канадский доллар</option>
                <option value="Киргизских сомов">Киргизских сомов</option>
                <option value="Китайский юань">Китайский юань</option>
                <option value="Молдавских леев">Молдавских леев</option>
                <option value="Норвежских крон">Норвежских крон</option>
                <option value="Польский злотый">Польский злотый</option>
                <option value="Румынский лей">Румынский лей</option>
                <option value="СДР (специальные права заимствования)">СДР (специальные права заимствования)</option>
                <option value="Сингапурский доллар">Сингапурский доллар</option>
                <option value="Таджикских сомони">Таджикских сомони</option>
                <option value="Турецкая лира">Турецкая лира</option>
                <option value="Новый туркменский манат">Новый туркменский манат</option>
                <option value="Узбекских сумов">Узбекских сумов</option>
                <option value="Украинских гривен">Украинских гривен</option>
                <option value="Чешских крон">Чешских крон</option>
                <option value="Шведских крон">Шведских крон</option>
                <option value="Швейцарский франк">Швейцарский франк</option>
                <option value="Южноафриканских рэндов">Южноафриканских рэндов</option>
                <option value="Вон Республики Корея">Вон Республики Корея</option>
                <option value="Японских иен">Японских иен</option>
            </select>

            <select size="1" name="targetCurrency">
                <option selected disabled>Выбрите в какую валюту</option>
                <option value="Австралийский доллар">Австралийский доллар</option>
                <option value="Азербайджанский манат">Азербайджанский манат</option>
                <option value="Армянских драмов">Армянских драмов</option>
                <option value="Фунт стерлингов Соединенного королевства">Фунт стерлингов Соединенного королевства</option>
                <option value="Белорусский рубль">Белорусский рубль</option>
                <option value="Болгарский лев">Болгарский лев</option>
                <option value="Бразильский реал">Бразильский реал</option>
                <option value="Венгерских форинтов">Венгерских форинтов</option>
                <option value="Гонконгских долларов">Гонконгских долларов</option>
                <option value="Датская крона">Датская крона</option>
                <option value="Доллар США">Доллар США</option>
                <option value="Евро">Евро</option>
                <option value="Казахстанских тенге">Казахстанских тенге</option>
                <option value="Канадский доллар">Канадский доллар</option>
                <option value="Киргизских сомов">Киргизских сомов</option>
                <option value="Китайский юань">Китайский юань</option>
                <option value="Молдавских леев">Молдавских леев</option>
                <option value="Норвежских крон">Норвежских крон</option>
                <option value="Польский злотый">Польский злотый</option>
                <option value="Румынский лей">Румынский лей</option>
                <option value="СДР (специальные права заимствования)">СДР (специальные права заимствования)</option>
                <option value="Сингапурский доллар">Сингапурский доллар</option>
                <option value="Таджикских сомони">Таджикских сомони</option>
                <option value="Турецкая лира">Турецкая лира</option>
                <option value="Новый туркменский манат">Новый туркменский манат</option>
                <option value="Узбекских сумов">Узбекских сумов</option>
                <option value="Украинских гривен">Украинских гривен</option>
                <option value="Чешских крон">Чешских крон</option>
                <option value="Шведских крон">Шведских крон</option>
                <option value="Швейцарский франк">Швейцарский франк</option>
                <option value="Южноафриканских рэндов">Южноафриканских рэндов</option>
                <option value="Вон Республики Корея">Вон Республики Корея</option>
                <option value="Японских иен">Японских иен</option>

            </select>
        </label></p>
        <label>
            <input type="number" name="sourceAmount" placeholder="Введите сумму  "/>
            <output name="targetAmount">
                {{#convert}}
                <div>
                    <span> Итого : {{targetAmount}}</span>
                </div>
                {{/convert}}
            </output>

        </label>

        <p><input type="submit" value="Отправить"></p>

    </form>
</div>
<p>Нажмите <a href="/history">Сюда</a> чтобы перейти к Истории конвертаций</p>

</body>

</html>