<html lang="en">
<body>

<div> История конвертаций</div>

<form method="post" action="/history/filter">
    <div> Укажите желаемый диапазон дат для просмотра</div>
    <input required type="date" name="startSearch"/>
    <input required type="date" name="endSearch"/>

    <button type="submit">Find</button>
</form>


<table  border="2" cellpadding="5"  >
    <caption>История</caption>
    <tr>
        <th> sourceCurrency</th>
        <th>targetCurrency</th>
        <th>sourceAmount</th>
        <th>targetAmount</th>
        <th width="40">date</th>
    </tr>
    {{#search}}
        <tr>
            <td>{{sourceCurrency}}</td>
            <td>{{targetCurrency}}</td>
            <td>{{sourceAmount}}</td>
            <td>{{targetAmount}}</td>
            <td>{{date}}</td>
        </tr>
    {{/search}}
</table>


</body>
</html>
