<html lang="en">
<body>

<div> История конвертаций</div>

<form method="post" action="/history/filter">
    <div> Укажите желаемый диапазон дат для просмотра</div>
    <input required type="date" name="startSearch"/>
    <input required type="date" name="endSearch"/>

    <button type="submit">Find</button>
</form>


<table  border="2" cellpadding="5"  >
    <caption>История</caption>
    <tr>
        <th>Исходная валюта</th>
        <th>Целевая валюта</th>
        <th>Исходная сумма</th>
        <th>Получаемая сумма</th>
        <th width="40">Дата конвертации</th>
    </tr>
    {{#search}}
        <tr>
            <td>{{sourceCurrency}}</td>
            <td>{{targetCurrency}}</td>
            <td>{{sourceAmount}}</td>
            <td>{{targetAmount}}</td>
            <td>{{date}}</td>
        </tr>
    {{/search}}
</table>
<p>Нажмите <a href="/converter">Сюда</a> чтобы перейти к Конвертеру валют</p>

</body>
</html>
