<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a href="/">here</a> to see a greeting.</p>
<p>Click <a href="/login">here</a> login.</p>
<p>Click <a href="/registration">here</a> registration.</p>
</body>
</html>