<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new Guest
{{#message}}
    {{message}}
{{/message}}

<form method="post">
    <div><label> User Name : <input type="text" name="username" placeholder="Username"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<a href="/converter"> Hello Page</a>
</body>
</html>